body {
  background-color: var(--bg-color);
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font-family);
  line-height: 1.725;
  text-rendering: geometricPrecision;
}

a {
  color: var(--body-color);
  text-decoration: none;

  &:focus, &:hover {
    color: var(--main-color);
    text-decoration: underline;
  }
}

hr {
  border-color: #58606b;
}

.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 24px;
}

.hd {
  width: 650px;
  // height: 100%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .hd {
    width: 90%;
    margin: auto;
  }
}
