.posts {
  .replay-btn {
    fill: var(--main-color);
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    padding: 10px;
  }

  .post-title {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .post-content a {
    color: var(--main-color);
  }
}

@media screen and (max-width: 800px) {
  .posts {
    .replay-btn {
      display: none;
    }
    .post-title {
      font-size: 16px;
    }
  }
}

.post-content h1::before,
.post-content h2::before,
.post-content h3::before,
.post-content h4::before,
.post-content h5::before,
.post-content h6::before {
  content: "#";
  padding-right: 10px;
  color: var(--main-color);
}

.admonition {
  margin: 1rem 0;
  padding: 1rem 2.5rem;
  color: var(--main-color);
}
